<div id="hotel-detail-section">

  <div class="container">
    <!--Breadcrumbs-->
    <br>
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a ng-href="#/hotels">Hotels</a></li>
        <li class="active">{{ vm.hotel.name }}</li>
      </ul>
    </div>


    <!--Hotel Details-->
    <div class="col-xs-12">
      <h2>{{ vm.hotel.name }}</h2>
      <star-rating score="vm.hotel.stars"></star-rating>
      <p>{{ vm.hotel.description }}</p>
      <div>
        <h4>Services</h4>
        <ul>
          <li ng-repeat="service in vm.hotel.services">{{ service }}</li>
        </ul>
      </div>

      <div>
        <h4>Reviews</h4>
        <div class="media" ng-repeat="review in vm.hotel.reviews">
          <div class="media-left">
            <img src="assets/images/avatar_img.png" class="media-object" style="width:60px">
          </div>
          <div class="media-body">
            <h5 class="media-heading">{{ review.name }} - <small>{{ review.createdOn | date:'longDate' }}</small></h5>
            <div>
              <star-rating score="vm.hotel.stars"></star-rating>
            </div>
            <p>{{ review.review }}</p>
          </div>
        </div>
      </div>
    </div>

    <!--Review Form-->
		<form class="col-xs-12 col-lg-5" name="vm.reviewForm" ng-submit="vm.addReview()" style="padding-bottom: 15px;">
			<h3>Leave a review</h3>
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" id="name" class="form-control" name="name" required ng-minlength="2" ng-model="vm.name">
				<div class="alert alert-warning" ng-show="vm.reviewForm.name.$dirty && vm.reviewForm.name.$invalid && vm.isSubmitted">
					<p>Name should be more than 2 characters long</p>
				</div>
			</div>

			<div class="form-group">
				<label for="rating">Rating:</label>
				<input type="number" id="rating" class="form-control" name="rating" required ng-pattern="/^[1-5]$/" ng-model="vm.rating">
				<div class="alert alert-warning" ng-show="vm.reviewForm.rating.$dirty && vm.reviewForm.rating.$invalid && vm.isSubmitted">
					<p>Rating must be between 1-5.</p>
				</div>
			</div>

			<div class="form-group">
				<label for="review">Review:</label>
				<textarea id="review" class="form-control" name="review" rows="5" required ng-model="vm.review"></textarea>
				<div class="alert alert-warning" ng-show="vm.reviewForm.review.$dirty && vm.isSubmitted">
					<p>Please add a review</p>
				</div>
			</div>

			<button type="submit" class="btn btn-default">Add review</button>
		</form>

  </div>
</div>